<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="container footer-copyright text-center mt-5">&copy; {{'now'| date('Y')}} Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->