<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="container footer-copyright text-center mt-5">&copy; {{'now'| date('Y')}} Built With &hearts;
    <a href="https://symfony.com"> Symfony 5</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->