

  <!-- Copyright -->
  <div class="container text-center mt-5">
    &copy; {{'now'| date('Y')}} Built With <span class="text-danger">&hearts;</span>
    <a href="https://symfony.com"> Symfony 5</a>
  </div>

<!-- Footer -->