{% extends 'base.html.twig' %}

{% block title %}Hello PinsController!{% endblock %}

{% block body %}
<h1>{{ pluraliz(pins| length,"Pin") }}</h1>
{% for pin in pins %}
    <h2><a>{{ pin.title }} </a></h2>
    <p>{{ pin.description }}</p>

{% endfor %}
{% endblock %}
